.modalBg {
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.55;
	width: 100vw;
	height: 150vh;
	z-index: 10;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.96);
	position: fixed;
	z-index: 1000;
	opacity: 0;
	display: flex;
	flex-direction: column;
	box-shadow: #00000033 0 30px 60px;
	background-color: #fff;
	border-radius: 20px;
	transition: transform 150ms ease 0s, opacity 150ms ease 0s;
	&Active {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.modal input {
	outline: none;
}

.modalActive ~ .modalBg {
	visibility: visible;
}

.modalSmall {
	width: 409px;
	height: 399px;
	padding: 32px;
}

.modalClose {
	position: absolute;
	top: 14px;
	right: -38px;
	cursor: pointer;
	width: 25px;
	height: 25px;
	border: none;
	font: inherit;
	color: #fff;
	background-color: transparent;
	transition: transform 0.1s ease-in-out;
}
.modalClose:hover {
	transform: scale(1.11);
}

.modal {
	&Title {
		margin-bottom: 8px;
		font-size: 36px;
		line-height: 36px;
		font-weight: 500;
	}

	&Description {
		margin-bottom: 24px;
		line-height: 20px;
		font-size: 16px;
		font-weight: 600;
		color: #5c6370;
	}

	&Form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
		&Container {
			display: flex;
			label {
				display: flex;
				flex-direction: column;
			}
		}
	}
}

.labelText {
	margin-bottom: 8px;
	font-size: 14px;
	font-weight: 500;
	color: #5c6370;
}

.telInput {
	height: 56px;
	padding: 16px;
	border-radius: 12px;
	border: 1px solid #e2e2e9;
	font-size: 16px;
	font-family: inherit;
	&::placeholder {
		color: rgb(200, 200, 200);
	}
	&:focus {
		border-color: rgb(255, 105, 0);
	}

	&Container {
		width: 100%;
	}
}

.countrySelectButton {
	width: 101px;
	height: 56px;
	border-radius: 12px;
	padding: 0 20px 0 16px;
	background-color: #fff;
	border: 1px solid rgb(226, 226, 233);
	font-family: inherit;
	text-transform: uppercase;
	&Container {
		margin-right: 8px;
	}
}

.submitButton {
	width: 100%;
	height: 48px;
	padding: 12px 24px;
	font-size: 16px;
	line-height: 24px;
	font-family: inherit;
	border-radius: 9999px;
	border: 0;
	&:disabled {
		color: rgb(171, 173, 186);
		background-color: rgb(226, 226, 233);
		cursor: not-allowed;
	}
}
