.header_nav_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.nav_menu_list {
	display: flex;
	font-size: 14px;
	list-style-type: none;
	gap: 0 20px;
}

.menu_list_item:last-child {
	display: flex;
	align-items: center;
}

.menu_list_item:last-child::before {
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #f00;
	margin-right: 5px;
	animation: flashing 800ms ease-in-out infinite alternate;
}

.menu_list_item_link {
	color: #000;
	line-height: 1;
	transition: color 250ms;
}

.menu_list_item_link:hover {
	color: #ff6900;
}

@keyframes flashing {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0.5;
	}
}

.menuBtn {
	height: 40px;
	padding: 8px 20px;
	font-size: 16px;
	line-height: 24px;
	border: none;
	border-radius: 9999px;
	font-family: 'Dodo';
	background-color: rgb(255, 105, 0);
	color: rgb(255, 255, 255);
	transition: 200ms;
}

.menuBtn:hover {
	background-color: rgb(232, 97, 0);
	color: rgb(255, 255, 255);
}

.menuBtn:active {
	background-color: rgb(255, 105, 0);
	color: rgb(255, 165, 102);
}